Repository dogfamchat/pepper-report: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typescript, astro

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc,astro}"
      run: bunx biome check --staged --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit
    astro:
      glob: "*.astro"
      run: bunx astro check

Update TODO.md with Nov 16 cleanup and label formatting work
  TODO.md
Due: none

Add automatic learned mappings persistence to GitHub Actions
  .github/workflows/report.yml
  TODO.md
  scripts/analysis/extract-daily.ts
Due: biome, typescript

Cleanup: Fix category name consistency across codebase
  TODO.md
  scripts/analysis/extract-daily.ts
Due: biome, typescript

Add comprehensive tests for learned mappings system
  scripts/analysis/learned-mappings.test.ts
Due: biome, typescript

Add categorization consistency and integrity tests
  scripts/analysis/categorization-consistency.test.ts
Due: biome, typescript

Fix getWeekBounds test expectation
  scripts/utils/date-utils.test.ts
Due: biome, typescript

Update TODO.md to reflect behaviour-tracking merge
  TODO.md
Due: none

Fix chrome mcp config
  .mcp.json
Due: biome

Responsive layout
  src/components/GradeCharts.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/trends.astro
Due: biome, astro

Disable animation
  data/viz/behavior-timeline.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/pages/gallery.astro
  src/pages/timeline.astro
  src/pages/trends.astro
Due: biome, typescript, astro

Update TODO.md with layout-tweaks progress
  TODO.md
Due: none

Responsive layout and UI improvements (#14)
  .mcp.json
  TODO.md
  data/viz/behavior-timeline.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/layouts/Layout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends.astro
Due: biome, typescript, astro

Fix mobile photo rendering issue in latest photo section
  src/pages/index.astro
Due: biome, astro

Fix mobile rendering issue with report photo (#15)
  src/pages/index.astro
Due: biome, astro

Fix photo overflow in report cards
  src/components/PhotoGallery.astro
Due: biome, astro

Apply styling changes to photo elements (#16)
  src/components/PhotoGallery.astro
Due: biome, astro

Fix missing viz file updates in analyze-all.ts workflow
  scripts/analysis/aggregate.ts
  scripts/analysis/analyze-all.ts
Due: biome, typescript

Update viz
  data/analysis/aggregates/behavior-trends.json
  data/viz/ai-activity-categories.json
  data/viz/ai-training-categories.json
  data/viz/behavior-frequency.json
  data/viz/behavior-timeline.json
Due: biome

Lint fix
  biome.json
  scripts/analysis/analyze-all.ts
Due: biome, typescript

Fix data/viz files not updating in report workflow (#17)
  biome.json
  data/analysis/aggregates/behavior-trends.json
  data/viz/ai-activity-categories.json
  data/viz/ai-training-categories.json
  data/viz/behavior-frequency.json
  data/viz/behavior-timeline.json
  scripts/analysis/aggregate.ts
  scripts/analysis/analyze-all.ts
Due: biome, typescript

Update dependencies
  bun.lock
  package.json
Due: biome

Fix timeline caret positioning
  src/pages/timeline.astro
Due: biome, astro

Initial config for recharts
  astro.config.mjs
  biome.json
  bun.lock
  docs/recharts-migration.md
  package.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/pages/gallery.astro
  tsconfig.json
Due: biome, typescript, astro

Add GradeTimelineChart React component (Phase 1)
  src/components/GradeCharts.astro
  src/components/charts/GradeTimelineChart.tsx
Due: biome, typescript, astro

GradeDistributionChart
  src/components/GradeCharts.astro
  src/components/charts/GradeDistributionChart.tsx
Due: biome, typescript, astro

Add Recharts components for trends page (Phase 3)
  docs/recharts-migration.md
  src/components/charts/AIActivityCategoriesChart.tsx
  src/components/charts/AITrainingCategoriesChart.tsx
  src/components/charts/BehaviorTimelineChart.tsx
  src/components/charts/HorizontalBarChart.tsx
Due: biome, typescript

Migrate trends page to Recharts (Phase 4)
  src/components/charts/HorizontalBarChart.tsx
  src/pages/trends.astro
Due: biome, typescript, astro

Complete Recharts migration - remove Chart.js dependency (Phase 5)
  bun.lock
  docs/recharts-migration.md
  package.json
Due: biome

Migrate from Chart.js to Recharts for SVG rendering (#18)
  astro.config.mjs
  biome.json
  bun.lock
  package.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/components/charts/AIActivityCategoriesChart.tsx
  src/components/charts/AITrainingCategoriesChart.tsx
  src/components/charts/BehaviorTimelineChart.tsx
  src/components/charts/GradeDistributionChart.tsx
  src/components/charts/GradeTimelineChart.tsx
  src/components/charts/HorizontalBarChart.tsx
  src/pages/gallery.astro
  src/pages/timeline.astro
  src/pages/trends.astro
  tsconfig.json
Due: biome, typescript, astro

Fix Playwright browser installation in GitHub Actions
  .github/workflows/report.yml
  .github/workflows/schedule.yml
Due: none

Fix failing GitHub Actions workflow (#19)
  .github/workflows/report.yml
  .github/workflows/schedule.yml
Due: none

Restructure Trends page into tabbed layout
  src/components/trends/BehaviorLists.astro
  src/components/trends/BehaviorSummaryCards.astro
  src/components/trends/CategoryModals.astro
  src/layouts/TrendsLayout.astro
  src/pages/trends.astro
  src/pages/trends/activities.astro
  src/pages/trends/behavior.astro
  src/pages/trends/friends.astro
  src/pages/trends/grades.astro
  src/pages/trends/index.astro
  src/utils/trends-data.ts
Due: biome, typescript, astro

Manually update layouts like a PEASANT
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/components/trends/BehaviorLists.astro
  src/components/trends/BehaviorSummaryCards.astro
  src/components/trends/CategoryModals.astro
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/activities.astro
  src/pages/trends/behavior.astro
  src/pages/trends/friends.astro
  src/pages/trends/grades.astro
  src/pages/trends/index.astro
Due: biome, astro

Layout updates (#20)
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/components/trends/BehaviorLists.astro
  src/components/trends/BehaviorSummaryCards.astro
  src/components/trends/CategoryModals.astro
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends.astro
  src/pages/trends/activities.astro
  src/pages/trends/behavior.astro
  src/pages/trends/friends.astro
  src/pages/trends/grades.astro
  src/pages/trends/index.astro
  src/utils/trends-data.ts
Due: biome, typescript, astro

Migrate to Cloudflare Pages
  .github/workflows/deploy.yml
  astro.config.mjs
Due: none

Add GitHub Pages redirect and update all URLs
  .github/workflows/gh-pages-redirect.yml
  TODO.md
  docs/design-proposal.md
  package.json
  redirect/index.html
  scripts/notifications/slack-notify.ts
Due: biome, typescript

Fix navigation links for Cloudflare Pages
  src/layouts/TrendsLayout.astro
  src/pages/index.astro
Due: biome, astro

Add AI-powered photo analysis with Claude Vision API
  TODO.md
  data/analysis/photo-analysis.json
  package.json
  scripts/analysis/analyze-photos.ts
  src/pages/gallery.astro
Due: biome, typescript, astro

Improve photo description variety with context-aware generation
  TODO.md
  data/analysis/photo-analysis.json
  scripts/analysis/analyze-photos.ts
Due: biome, typescript
