Repository dogfamchat/pepper-report: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typescript

biome:
  run: bunx biome check --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typescript:
  run: bunx tsc --noEmit

Pass through ANTHROPIC_API_KEY
  .github/workflows/report.yml
Due: none

Manual analysis update
  data/analysis/aggregates/grade-trends.json
  data/analysis/aggregates/top-friends.json
  data/analysis/aggregates/weekly-summary.json
  data/analysis/daily/2025-11-10.json
  data/viz/grade-timeline.json
Due: biome

Add detailed plan for activity categorization implementation
  TODO.md
Due: none

Add future photo analysis ideas
  TODO.md
Due: none

Add activity categorization mappings
  scripts/analysis/activity-categories.ts
Due: biome, typescript

Add activity categorization logic
  scripts/analysis/activity-categorizer.ts
Due: biome, typescript

Add support for both category and detailed frequency views
  scripts/analysis/activity-categorizer.ts
Due: biome, typescript

Integrate activity categorization into daily extraction
  scripts/analysis/extract-daily.ts
Due: biome, typescript

Update TODO.md with activity categorization progress
  TODO.md
Due: none

Fix activity chart initialization
  src/pages/trends.astro
Due: biome

Update TODO.md with completed activity categorization
  TODO.md
Due: none

Adjust activity charts:
  data/viz/activity-categories.json
  data/viz/activity-frequency.json
  data/viz/training-categories.json
  data/viz/training-frequency.json
  scripts/analysis/activity-categories.ts
  scripts/analysis/aggregate.ts
  src/pages/trends.astro
Due: biome, typescript

Add category breakdown info for pie charts
  data/viz/activity-categories.json
  data/viz/training-categories.json
  scripts/analysis/aggregate.ts
  src/pages/trends.astro
Due: biome, typescript

Add MCP server configuration for chrome-devtools
  .mcp.json
Due: biome

Fix doughnut chart size inconsistency
  data/viz/activity-categories.json
  data/viz/training-categories.json
  scripts/analysis/aggregate.ts
Due: biome, typescript

Convert category charts from doughnut to horizontal bar charts
  data/viz/activity-categories.json
  data/viz/training-categories.json
  scripts/analysis/aggregate.ts
Due: biome, typescript

Update TODO.md with latest project status
  TODO.md
Due: none

WIP: dayjs
  bun.lock
  package.json
  scripts/analysis/aggregate.ts
  scripts/analysis/extract-daily.ts
  scripts/analysis/report-reader.ts
  scripts/backfill-schedule.ts
  scripts/backfill.ts
  scripts/notifications/slack-notify.ts
  scripts/scrapers/scrape-report.ts
  scripts/scrapers/scrape-schedule.ts
  scripts/scrapers/scraper-example.ts
  scripts/storage/r2-uploader.ts
  scripts/utils/date-utils.test.ts
  scripts/utils/date-utils.ts
  scripts/verify-date-utils.ts
  src/components/GradeCharts.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends.astro
Due: biome, typescript

Fix scraping on windows
  CLAUDE.md
  README.md
  bun.lock
  package.json
  scripts/scrapers/scrape-report.ts
Due: biome, typescript

Remove fallbackDate
  scripts/scrapers/scrape-report.ts
  scripts/utils/date-utils.test.ts
  scripts/utils/date-utils.ts
  scripts/verify-date-utils.ts
Due: biome, typescript

Cleanup
  scripts/scrapers/scrape-schedule.ts
Due: biome, typescript

Dayjs + windows fixes (#11)
  CLAUDE.md
  README.md
  bun.lock
  lefthook.yml
  package.json
  scripts/analysis/aggregate.ts
  scripts/analysis/extract-daily.ts
  scripts/analysis/report-reader.ts
  scripts/backfill-schedule.ts
  scripts/backfill.ts
  scripts/notifications/slack-notify.ts
  scripts/scrapers/scrape-report.ts
  scripts/scrapers/scrape-schedule.ts
  scripts/scrapers/scraper-example.ts
  scripts/storage/r2-uploader.ts
  scripts/utils/date-utils.test.ts
  scripts/utils/date-utils.ts
  scripts/verify-date-utils.ts
  src/components/GradeCharts.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends.astro
Due: biome, typescript

Use PAT for github token
  .github/workflows/report.yml
Due: none

Fix spacing
  .github/workflows/report.yml
Due: none

Add behavior tracking with charts and visualizations
  data/analysis/aggregates/behavior-trends.json
  data/analysis/daily/2025-08-08.json
  data/analysis/daily/2025-08-12.json
  data/analysis/daily/2025-08-19.json
  data/analysis/daily/2025-08-22.json
  data/analysis/daily/2025-08-27.json
  data/analysis/daily/2025-08-29.json
  data/analysis/daily/2025-09-05.json
  data/analysis/daily/2025-09-08.json
  data/analysis/daily/2025-09-10.json
  data/analysis/daily/2025-09-12.json
  data/analysis/daily/2025-09-15.json
  data/analysis/daily/2025-09-19.json
  data/analysis/daily/2025-09-22.json
  data/analysis/daily/2025-09-26.json
  data/analysis/daily/2025-09-29.json
  data/analysis/daily/2025-09-30.json
  data/analysis/daily/2025-10-03.json
  data/analysis/daily/2025-10-07.json
  data/analysis/daily/2025-10-10.json
  data/analysis/daily/2025-10-14.json
  data/analysis/daily/2025-10-15.json
  data/analysis/daily/2025-10-17.json
  data/analysis/daily/2025-10-20.json
  data/analysis/daily/2025-10-22.json
  data/analysis/daily/2025-10-24.json
  data/analysis/daily/2025-10-27.json
  data/analysis/daily/2025-10-29.json
  data/analysis/daily/2025-10-31.json
  data/analysis/daily/2025-11-03.json
  data/analysis/daily/2025-11-05.json
  data/analysis/daily/2025-11-07.json
  data/analysis/daily/2025-11-10.json
  data/viz/behavior-comparison.json
  data/viz/behavior-frequency.json
  data/viz/behavior-timeline.json
  scripts/analysis/aggregate.ts
  scripts/analysis/extract-daily.ts
  scripts/analysis/regenerate-all-daily.ts
  src/pages/trends.astro
Due: biome, typescript

Update TODO.md with behavior tracking progress
  TODO.md
Due: none

Remove redundant behavior comparison chart
  src/pages/trends.astro
Due: biome

Remove unused behavior comparison chart generation
  data/viz/behavior-comparison.json
  scripts/analysis/aggregate.ts
Due: biome, typescript

Update TODO.md with behavior tracking refinements
  TODO.md
Due: none

Fix date issues
  data/analysis/aggregates/grade-trends.json
  data/analysis/aggregates/weekly-summary.json
  scripts/analysis/aggregate.ts
  scripts/utils/date-utils.ts
Due: biome, typescript

Add AI-powered activity and training categorization
  data/analysis/daily/2025-08-08.json
  data/analysis/daily/2025-08-12.json
  data/analysis/daily/2025-08-19.json
  data/analysis/daily/2025-08-22.json
  data/analysis/daily/2025-08-27.json
  data/analysis/daily/2025-08-29.json
  data/analysis/daily/2025-09-05.json
  data/analysis/daily/2025-09-08.json
  data/analysis/daily/2025-09-10.json
  data/analysis/daily/2025-09-12.json
  data/analysis/daily/2025-09-15.json
  data/analysis/daily/2025-09-19.json
  data/analysis/daily/2025-09-22.json
  data/analysis/daily/2025-09-26.json
  data/analysis/daily/2025-09-29.json
  data/analysis/daily/2025-09-30.json
  data/analysis/daily/2025-10-03.json
  data/analysis/daily/2025-10-07.json
  data/analysis/daily/2025-10-10.json
  data/analysis/daily/2025-10-14.json
  data/analysis/daily/2025-10-15.json
  data/analysis/daily/2025-10-17.json
  data/analysis/daily/2025-10-20.json
  data/analysis/daily/2025-10-22.json
  data/analysis/daily/2025-10-24.json
  data/analysis/daily/2025-10-27.json
  data/analysis/daily/2025-10-29.json
  data/analysis/daily/2025-10-31.json
  data/analysis/daily/2025-11-03.json
  data/analysis/daily/2025-11-05.json
  data/analysis/daily/2025-11-07.json
  data/analysis/daily/2025-11-10.json
  data/analysis/daily/2025-11-12.json
  data/analysis/daily/2025-11-14.json
  data/viz/ai-activity-categories.json
  data/viz/ai-training-categories.json
  scripts/analysis/activity-categorizer.ts
  scripts/analysis/aggregate.ts
  scripts/analysis/extract-daily.ts
  src/pages/trends.astro
Due: biome, typescript

Add hover tooltips and info modals to AI category charts
  scripts/build-category-mappings.ts
  src/pages/trends.astro
Due: biome, typescript

Update TODO.md with learned mappings implementation progress
  TODO.md
Due: none

Remove unused rules-based categorization code after AI implementation
  data/analysis/aggregates/activity-breakdown.json
  scripts/analysis/activity-categories.ts
  scripts/analysis/activity-categorizer.ts
  scripts/analysis/aggregate.ts
  scripts/analysis/extract-daily.ts
Due: biome, typescript

Rename category keys to use 'and' for consistent formatting
  data/analysis/daily/2025-08-08.json
  data/analysis/daily/2025-08-12.json
  data/analysis/daily/2025-08-19.json
  data/analysis/daily/2025-08-22.json
  data/analysis/daily/2025-08-27.json
  data/analysis/daily/2025-08-29.json
  data/analysis/daily/2025-09-05.json
  data/analysis/daily/2025-09-08.json
  data/analysis/daily/2025-09-10.json
  data/analysis/daily/2025-09-12.json
  data/analysis/daily/2025-09-15.json
  data/analysis/daily/2025-09-19.json
  data/analysis/daily/2025-09-22.json
  data/analysis/daily/2025-09-26.json
  data/analysis/daily/2025-09-29.json
  data/analysis/daily/2025-09-30.json
  data/analysis/daily/2025-10-03.json
  data/analysis/daily/2025-10-07.json
  data/analysis/daily/2025-10-10.json
  data/analysis/daily/2025-10-14.json
  data/analysis/daily/2025-10-15.json
  data/analysis/daily/2025-10-17.json
  data/analysis/daily/2025-10-20.json
  data/analysis/daily/2025-10-22.json
  data/analysis/daily/2025-10-24.json
  data/analysis/daily/2025-10-27.json
  data/analysis/daily/2025-10-29.json
  data/analysis/daily/2025-10-31.json
  data/analysis/daily/2025-11-03.json
  data/analysis/daily/2025-11-05.json
  data/analysis/daily/2025-11-07.json
  data/analysis/daily/2025-11-10.json
  data/analysis/daily/2025-11-12.json
  data/analysis/daily/2025-11-14.json
  data/viz/ai-training-categories.json
  scripts/analysis/learned-training-mappings.json
  src/pages/trends.astro
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc,astro}
  typescript: any of: *.{ts,tsx}
