Repository dogfamchat/pepper-report: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typescript, astro

biome:
  run: bunx biome check --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typescript:
  run: bunx tsc --noEmit

astro:
  run: bunx astro check

Integrate photo analysis into main analysis pipeline
  .github/workflows/report.yml
  data/analysis/photo-analysis.json
  scripts/analysis/analyze-all.ts
  scripts/analysis/analyze-photos.ts
Due: biome, typescript

Fix broken "Back to Dashboard" links
  src/pages/gallery.astro
  src/pages/timeline.astro
Due: biome, astro

Update TODO.md with Dec 14 progress
  TODO.md
Due: none

Add AI-powered photo analysis with Claude Vision (#21)
  .github/workflows/report.yml
  TODO.md
  data/analysis/photo-analysis.json
  package.json
  scripts/analysis/analyze-all.ts
  scripts/analysis/analyze-photos.ts
  src/pages/gallery.astro
  src/pages/timeline.astro
Due: biome, typescript, astro

Add multi-year support to daycare report pipeline
  scripts/analysis/regenerate-all-daily.ts
  scripts/analysis/report-reader.ts
  src/pages/index.astro
  src/pages/timeline.astro
Due: biome, typescript, astro

Add multi-year support to daycare report pipeline (#22)
  scripts/analysis/regenerate-all-daily.ts
  scripts/analysis/report-reader.ts
  src/pages/index.astro
  src/pages/timeline.astro
Due: biome, typescript, astro

Redesign site with elegant regal aesthetic
  src/layouts/Layout.astro
  src/layouts/TrendsLayout.astro
  src/pages/index.astro
Due: biome, astro

Apply elegant design to timeline and gallery pages
  src/pages/gallery.astro
  src/pages/timeline.astro
Due: biome, astro

Apply elegant design to trends overview page
  src/pages/trends/index.astro
Due: biome, astro

Move expand icon
  src/pages/timeline.astro
Due: biome, astro

Silence warnings
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
Due: biome, astro

Remove page load transition animations
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
Due: biome, astro

Redesign with elegant regal aesthetic (#23)
  src/layouts/Layout.astro
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/index.astro
Due: biome, astro

Fix blank photo detection for 1x1 pixel placeholders
  scripts/utils/photo-utils.ts
Due: biome, typescript

Remove blank 1x1 pixel photos from existing data
  data/reports/2026/2026-01-16.json
  data/reports/2026/2026-01-20.json
  photos.json
Due: biome

Fix blank photo detection for 1x1 pixel placeholders (#24)
  data/reports/2026/2026-01-16.json
  data/reports/2026/2026-01-20.json
  photos.json
  scripts/utils/photo-utils.ts
Due: biome, typescript

Optimize report workflow: run every 15min, skip if exists
  .github/workflows/report.yml
Due: none

Optimize report workflow: run every 15min, skip if exists (#25)
  .github/workflows/report.yml
Due: none

Add handling for C's and D's
  src/components/GradeCharts.astro
  src/components/charts/GradeDistributionChart.tsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/grades.astro
Due: biome, typescript, astro

Add handling for C's and D's (#26)
  src/components/GradeCharts.astro
  src/components/charts/GradeDistributionChart.tsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/grades.astro
Due: biome, typescript, astro

Swap color palette + other minor changes:
  data/viz/activity-frequency.json
  data/viz/ai-activity-categories.json
  data/viz/ai-training-categories.json
  data/viz/behavior-frequency.json
  data/viz/behavior-timeline.json
  data/viz/friend-network.json
  data/viz/training-frequency.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/components/charts/BehaviorTimelineChart.tsx
  src/components/charts/GradeDistributionChart.tsx
  src/components/charts/GradeTimelineChart.tsx
  src/components/charts/HorizontalBarChart.tsx
  src/components/trends/BehaviorLists.astro
  src/components/trends/BehaviorSummaryCards.astro
  src/components/trends/CategoryModals.astro
  src/layouts/Layout.astro
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/activities.astro
  src/pages/trends/behavior.astro
  src/pages/trends/friends.astro
  src/pages/trends/grades.astro
  src/pages/trends/index.astro
  src/utils/trends-data.ts
Due: biome, typescript, astro

Update Color Palette (+ other minor changes): (#27)
  data/viz/activity-frequency.json
  data/viz/ai-activity-categories.json
  data/viz/ai-training-categories.json
  data/viz/behavior-frequency.json
  data/viz/behavior-timeline.json
  data/viz/friend-network.json
  data/viz/training-frequency.json
  scripts/analysis/aggregate.ts
  src/components/GradeCharts.astro
  src/components/PhotoGallery.astro
  src/components/charts/BehaviorTimelineChart.tsx
  src/components/charts/GradeDistributionChart.tsx
  src/components/charts/GradeTimelineChart.tsx
  src/components/charts/HorizontalBarChart.tsx
  src/components/trends/BehaviorLists.astro
  src/components/trends/BehaviorSummaryCards.astro
  src/components/trends/CategoryModals.astro
  src/layouts/Layout.astro
  src/layouts/TrendsLayout.astro
  src/pages/gallery.astro
  src/pages/index.astro
  src/pages/timeline.astro
  src/pages/trends/activities.astro
  src/pages/trends/behavior.astro
  src/pages/trends/friends.astro
  src/pages/trends/grades.astro
  src/pages/trends/index.astro
  src/utils/trends-data.ts
Due: biome, typescript, astro

Adjust schedule for DST
  .github/workflows/report.yml
Due: none

Revert "Add report card for 2026-06-09 (Grade: C)"
  data/reports/2026/2026-06-09.json
Due: biome

Revert "Update analysis data"
  data/analysis/aggregates/activity-breakdown.json
  data/analysis/aggregates/behavior-trends.json
  data/analysis/aggregates/grade-trends.json
  data/analysis/aggregates/top-friends.json
  data/analysis/aggregates/weekly-summary.json
  data/analysis/daily/2026-06-09.json
  data/viz/behavior-timeline.json
  data/viz/grade-timeline.json
Due: biome

Revert "Update analysis data" (#28)
  data/analysis/aggregates/activity-breakdown.json
  data/analysis/aggregates/behavior-trends.json
  data/analysis/aggregates/grade-trends.json
  data/analysis/aggregates/top-friends.json
  data/analysis/aggregates/weekly-summary.json
  data/analysis/daily/2026-06-09.json
  data/reports/2026/2026-06-09.json
  data/viz/behavior-timeline.json
  data/viz/grade-timeline.json
Due: biome

Disable report checker
  .github/workflows/report.yml
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc,astro}
  typescript: any of: *.{ts,tsx}
  astro: any of: *.astro
